<!DOCTYPE html>
<html ng-app="pugger">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block title %}
    <title>The Leapalyzer</title>
    {% endblock %}

    {% block styles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    {% endblock %}


</head>

{% block content %}
<body>

{% block scripts %}
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
{% endblock %}

</body>
{% endblock %}
</html>